.Scroller {
    display: flex;

    overflow: hidden;
    white-space: nowrap;
    width: 100%;
    position: relative;

    
    font-size: 9vw;
    font-weight: 600;
}
.Scroller div {
    display: flex;
    align-items: center;
    animation: scroll 55s linear infinite;
}
.Scroller span {
    padding: 1rem;
    margin: 0 1rem;
    border-radius: 8px;
    text-transform: uppercase;
}
.Scroller img{
    width: 5vw;
    height: 5vw;
}
@keyframes scroll {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}